.squares{
	display: flex;
	justify-content: space-around;
}

.square{
	width: 140px;
    height: 140px;
}
.sk1{
	background: blue;
}
.sk2{

    background: pink;
}
.sk3{
    background: yellow;
}
@media screen and (max-width: 1000px){
	.squares{
		justify-content: center;
		
	}

}

@media screen and (orientation:portrait) {
	.squares{
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
    
}

@media screen and (orientation:landscape) and (max-width: 800px){ 
	.squares{
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
}